*{margin: 0;
box-sizing: border-box;}
.Header{color: burlywood; text-align: center; background-color: black;padding-top: 30px; padding-bottom: 30px;}
.table{margin-left: 100px; margin-bottom: 50px; margin-top: 50px;}
.video{margin-left: 100px; margin-bottom: 50px; margin-top: 50px;}